<nav>
    <a href="/"><h1>Let It Cook</h1></a>
    <ul id="nav-options">
        <li><a href="/">Recipes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create New Recipe</a></li>
    </ul>
</nav>