<nav>
    <div>
        <a href="/"><h1>Let It Cook</h1></a>
        <p>Welcome to the recipe board!</p>
    </div>
    <ul>
        <li><a href="/">Recipes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create New Recipe</a></li>
    </ul>
</nav>