<nav>
    <a href="/"><h1>Let It Cook</h1></a>
    <ul id="nav-options">
        <li><a href="/">Recipes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create New Recipe</a></li>
        <% if (!user) { %>
            <li><a href="/auth/login">Login</a></li>
        <% } else { %>    
            <li><a href="/auth/logout">Logout</a></li>
        <% } %>
        <a href="/profile" ><img id="nav-img" src="<%= user.thumbnail %>" alt="image"></a>
    </ul>
</nav>