<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <% if (!user) { %>
            <li><a href="/auth/login">Login</a></li>
            <% } else { %>    
                <li><a href="/auth/logout">Logout</a></li>
            <% } %>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to your profile, <%= user.username %> </h1>
        <h2>Profile page</h2>
    </header>
    <main>
        <img src="<%= user.thumbnail %>" alt="image">
        <p>Some text here</p>
    </main>
    
</body>
</html>