* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

body {
    min-height: 100vh;
    position: relative;
}

/* nav.ejs */
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 200, 98);
    padding: 1.4em;
    padding-left: 5%;
    box-shadow: 0px 0px 7px 0px rgb(182, 120, 6);
}

nav > a > h1 {
    font-size: 3em;
    color: black;
    padding: 0.5em;
}

nav > a {
    text-decoration:none;
}

#nav-options {
    display: flex;
    gap: 0.5em;
    font-size: 1.6em;
}

#nav-options > li {
    list-style: none;
    box-shadow: 2px 2px 2px 0px white;
    margin: auto;
    padding: 0.5em;
    border-radius: 3px;
}

#nav-options > li:hover {
    background-color: rgb(238, 172, 49);
}

#nav-options > li > a {
    text-decoration:none;
    color: black;
}

#nav-img {
    display: flex;
    height: 1.4em;
    border-radius: 50%;
    margin: 1.2em 0em 0em 0.2em;
    box-shadow: 2px 2px 2px 0px rgb(218, 156, 41);
    transition: transform .2s;
}

#nav-img:hover {
    transform: scale(1.2);
}

/* footer.ejs */
footer {
    display: flex;
    bottom: 0px;
    margin-top: 1em;
    padding-bottom: 1em;
    margin-left: 43%;
    position: absolute;
}

/* about.ejs */

.about-page {
    padding: 1em 3em 1em 4em;
    font-size: 1.3em;
}

.about-page > h1 {
    padding-bottom: 0.5em;
}

/* details.ejs */
.details {
    padding: 1em 3em 1em 4em;
    font-size: 1.3em;
}

.back-div {
    padding-bottom: 1em;
}

.back {
    font-size: 0.8em;
    color: black;
}

/* Also applies to home page*/
.time-posted {
    color: grey;
    padding-top: 0.5em;
}

.short-info {
    display: flex;
    gap: 1em;
    padding-bottom: 0.7em;
    color: grey;
}

.details > p {
    margin-bottom: 0.5em;
}

.delete, .update {
    text-decoration: none;
    display: block;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0px grey;
    padding: 0.5em;
    margin-top: 1em;
    width: fit-content;
    background-color: rgb(243, 182, 69);
    color: rgb(255, 246, 235);
}

.delete:hover, .update:hover {
    background-color: rgb(224, 157, 34);
    cursor: pointer;
}

/* createRecipe.ejs */
.create-page {
    padding: 1em 3em 1em 4em;
    font-size: 1.3em;
}

.create-page > h1 {
    padding-bottom: 0.5em;
}

form > div {
    padding-bottom: 0.5em;
}

form > div > input, form > div > textarea {
    border: rgb(158, 153, 146) solid 1px;
    padding: 0.3em;
    border-radius: 3px;
    font-size: 0.8em;
    border-left-width: 5px;
}

form > div > input:focus, form > div > textarea:focus {
    outline: none;
    border: rgb(243, 182, 69) solid 1px;
    border-left-width: 5px;
}

form > button {
    background-color: rgb(243, 182, 69);
    color: rgb(255, 246, 235);
    padding: 0.5em;
    border-radius: 3px;
    font-size: 1em;
    border: rgb(224, 157, 34);
    box-shadow: 2px 2px 2px 0px grey;
    margin-top: 1em;
}

.input-textarea {
    display: flex;
    gap: 0.5em;
}

form > button:hover {
    background-color: rgb(224, 157, 34);
    cursor: pointer;
}

#login-warn {
    margin-top: 1em;
}

/* updateRecipe.ejs */
.update-page {
    padding: 1em 3em 1em 4em;
    font-size: 1.3em;
}

/* home.ejs */
.home-page {
    padding: 1em 3em 1em 4em;
    font-size: 1.3em;
}

.recipe {
    margin-top: 1em;
}

.recipe > p {
    margin-bottom: 0.5em;
}

.home-short-info {
    display: flex;
    gap: 1em;
    padding-bottom: 0.5em;
    color: grey;
}

.home-recipe-title {
    color: black;
}

.home-recipe-title:hover {
    color: rgb(208, 147, 33);
}

.recipeImage {
    max-height: 200px;
    width: fit-content;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.caption {
    margin-bottom: 1em;
}

/* 404.ejs */
.error-text {
    margin: 2em;
}

.login {
    margin-left: 40%;
    margin-top: 5%;
}

.loginLinkExt {
    margin-top: 1em;
    margin-left: 9%;
}

.loginLink {
    font-size: 1.3em;
    color: black;
}

.profile-info {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.profile {
    padding: 1em 3em 1em 4em;
}

.moreInfo {
    font-size: 1.3em;
}

.pfp {
    max-height: 7em;
    width: fit-content;
    border-radius: 50%;
}