<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include("../partials/nav.ejs") %>
    <h1>Create A New Recipe</h1>
    <div>
        <form action="/recipes" method="POST">
            <label for="recipe">Recipe name:</label>
            <input type="text" id="recipe" name="recipe" required>

            <label for="title">Author name:</label>
            <input type="text" id="author" name="author" required>

            <label for="title">Time required:</label>
            <input type="text" id="time" name="time" required>

            <label for="body">Description:</label>
            <input type="body" id="description" name="description" required>

            <label for="body">Ingredients:</label>
            <textarea name="ingredients" id="ingredients" required></textarea>

            <label for="instructions">Instructions:</label>
            <textarea name="instructions" id="instructions" required></textarea>

            <button>Submit</button>
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>